/*#video-wrapper {
	text-align: center;
	margin-top: 5%;
	/*border: 1px solid black;
}

video {
    padding: 0px auto;
    width: 368;
    height: 288;
    /*height: 375px;
    border: 10px #333 solid;
}

canvas {
	 padding: 0px auto;
   width: 368;
   height: 288;
}*/

      #container {
        position : relative;
      }
      
      #canvas {
        position : absolute;
        left : 0;
        top : 0;
      }